* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    outline: none;
    font-family: 'Press Start 2P', cursive;
}

.app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

@media only screen and (max-width: 800px) {
    .app {
        font-size: 12px;
        transition-timing-function: ease-in-out;
        transition-property: font-size;
        transition-duration: 1s;
    }
}