#contact {
    margin-top: 75px;
}

#contact-links {
    background-color: yellow;
    width: 70%;
    margin-bottom: 20px;
    padding: 1rem 1rem 0rem 1rem;
    background-color: #33bbff;
}

#contact-links i {
    font-size: 22px;
    color: darkblue;
}

#contact-links a {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;
    color: darkred;
    text-decoration: none;
    transform: translateY(-6px);
}

#contact-links a:hover {
    color: red;
}

#divider-text {
    margin: 15px 0px;
}

#online-msg .part1, #online-msg .part2, #online-msg .part3 {
    width: 85%;
    margin-bottom: 10px;
}

#online-msg .part2 textarea {
    max-height: 300px;
    min-height: 100px;
}

#online-msg .part3 button {
    width: 40%;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}