#my-edu {
    margin-top: 75px;
}

.education {
    display: flow-root;
    width: 85%;
    background-color: yellowgreen;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

.school-info {
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

.school-item {
    margin-bottom: 20px;
}

@media only screen and (max-width:800px) {
    .education {
        width: 98%;
        font-size: 12px;
    }
}