#my-news {
    margin-top: 75px;
}

#my-news .btn-group-container {
    width: 50%;
    background-color: coral;
    margin-bottom: 40px;
}

#my-news .btn-group-container button {
    margin-right: 10px;
    margin-bottom: 10px;
}

#my-news .title {
    transform: translateY(-8px);
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

#my-news a {
    display: inline-block;
    text-decoration: none;
    color: blue;
}

#my-news a:hover {
    color: red;
}

#my-news i {
    font-size: 22px;
    color: darkblue;
}

#my-news span {
    float: right;
}

.side-news {
    width: 85%;
    background-color: rgb(240, 240, 240);
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

.news-item {
    margin-bottom: 20px;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

.news-info {
    display: flow-root;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

@media only screen and (max-width: 800px) {
    .side-news {
        width: 98%;
        padding: 0.5rem !important;
    }

    .news-info {
        font-size: 12px;
    }

    #my-news .title {
        font-size: 14px;
    }

    #my-news .btn-group-container {
        width: 100%;
        text-align: right;
    }

    .news-item {
        margin-bottom: 40px;
    }
}